@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

header{
    background-color: #e4ac12;
    height: 2.3rem;
}


.btn-group{
    align-items: flex-end;       
    font-size: 30px;
    float: right;  

}

footer {
    background-color: #e4ac12;

}

footer {
    text-align: center;
    padding: 15px 0;
}

p {
    margin-bottom: 10px;
    font-size: 25px;

}
h6{
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    line-height: 1.0rem;   
}

.carousel,
.row {
    margin-bottom: 30px;
}

.carousel {
    margin-top: 30px;
}

.carousel {
    max-height: 400px;
    overflow: hidden;
}

.carousel img {
    width: auto;
    height: auto;    
    max-width: 100%; 
    max-height: 100%;
    align-items: center;
}

.btn-primary {
    background-color: rgb(0, 51, 255);
}

.btn-primary:hover {
    background-color: rgb(138, 168, 241);
}


.card {
    float: left;
    margin: 30px;
    background-color: #b4b4b4;
}
